/* 共通項目 */
body {
    margin-left:10px;
    margin-right:10px;
}
.container {
    max-width:1000px;
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:#FAFAFA;
}
.head {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#2ABCA7;
    color:#FAFAFA;
}
h1 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 2em;
}
.hidden {
    display: none;
}

/* 入力フォーム */
.formContainer {
    max-width:850px;
    margin:0 auto;
}
.formContainer table {
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding: 10px;
    border:3px solid #888;
}
.formContainer input {
    margin-bottom:10px;
}
.formContainer textarea {
    height:100px;
    margin-bottom:10px;
}
.formContainer input:first-of-type {
    margin-top:10px;
}
.formContainer label {
    font-size: 1em;
    font-family: 'Source Sans Pro',arial,sans-serif;
}
.formContainer input, textarea {
    font-size: 1em;
    padding: 10px 5px 5px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color:#000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    max-width: 80px;
}
.margin-right {
    margin-right: 20px;
}
.button {
    font-size: 1.2em;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    width:30%;
    color:#fff;
}
.button:hover {
    background:#19a08c;
}
.validColor {
    color: #FF0000;
}
#productSelectionButton {
    font-size: 0.9em;
    background-color:#2ABCA7;
    padding: 5px 5px;
    border: 1px solid #2ABCA7;
    display: block;
    margin: 5px 5px;
    cursor: pointer;
    color:#fff;
}
#productSelectionButton:hover {
    background:#19a08c;
}

/* 一覧表示 */
.paramList {
    margin: 20px;
}
.paramList table {
    width:80%;
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding: 10px;
    border: solid 2px #888;
}
.paramList th {
    border-collapse: collapse;
    border: solid 2px #888;
}

/* グラフ表示 */
.chartContainer {
    width:80%;
    margin:0 auto;
}

/* 商品選択ダイアログ */
.productSelection {
    margin: 20px;
    font-size: 0.9em;
}
.productSelection table {
    width:90%;
    margin:0 auto;
    padding: 10px;
    border-collapse: collapse;
}
.productSelection th, .productSelection td {
    border: solid 2px #888;
}
.returnWidth {
    width:100px;
}
.volaWidth {
    width:120px;
}
.companyWidth {
    width:140px;
}
.productSelection input {
    transform: scale(1.5)
}