/* 共通項目 */
body {
    margin-left:10px;
    margin-right:10px;
}
.container {
    max-width:1000px;
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:#FAFAFA;
}
.head {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#2ABCA7;
    color:#FAFAFA;
}
h1 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 2em;
}
.hidden {
    display: none;
}

/* 入力フォーム */
.formContainer {
    max-width:850px;
    margin:0 auto;
}
.formContainer table {
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding: 10px;
    border:3px solid #888;
}
.formContainer input {
    margin-bottom:10px;
}
.formContainer textarea {
    height:100px;
    margin-bottom:10px;
}
.formContainer input:first-of-type {
    margin-top:35px;
}
.formContainer label {
    font-size: 1.1em;
    font-family: 'Source Sans Pro',arial,sans-serif;
}
.formContainer input, textarea {
    font-size: 1.2em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color:#FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 200px;
}
.margin-right {
    margin-right: 20px;
}
.button {
    font-size: 1.2em;
    margin:15px 350px;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color:#fff;
}
.button:hover {
  background:#19a08c;
}

/* 一覧表示 */
.paramList {
    margin: 20px;
}
.paramList table {
    width:80%;
    margin:0 auto;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding: 10px;
    border:2px solid #888;
}

/* グラフ表示 */
.chartContainer {
    width:80%;
    margin:0 auto;
}