<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>新NISA資産形成シミュレーション</title>
        <link rel="stylesheet" th:href="@{/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/home.css}">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <h1>新NISA資産形成シミュレーション</h1>
            </div>
            <div class="contents">
                <form action="?">
                    <div class="formContainer">
                        <table>
                            <tr>
                                <th><label>期待収益率(%)</label></th>
                                <td>
                                    <input name="expectedRateOfReturn" id="expectedRateOfReturn" class="margin-right" type="text" />
                                    <div th:text="${expectedRateOfReturnError}" class="validColor"></div>
                                </td>
                                <th><label>ボラティリティ(%)</label></th>
                                <td>
                                    <input name="volatility" id="volatility" type="text" />
                                    <div th:text="${volatilityError}" class="validColor"></div>
                                </td>
                                <th colspan="2">
                                    <!-- ボタン表示 -->
                                    <button type="button" id="productSelectionButton" class="left">商品を選択</button>
                                    <div id="productName" class="left fontSize"></div>
                                    <!-- ダイアログ部分 -->
                                    <div id="dialog">
                                        <div th:insert="~{dialog :: productSelection_body}"></div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th><label>シミュレーション<br>開始年齢</label></th>
                                <td>
                                    <input name="startAge" class="margin-right" type="text" />
                                    <div th:text="${startAgeError}" class="validColor"></div>
                                </td>
                                <th><label>つみたて月額(万)</label></th>
                                <td>
                                    <input name="monthlySavings" type="text" />
                                    <div th:text="${monthlySavingsError}" class="validColor"></div>
                                </td>
                                <th><label>つみたて額初期値(万)</label></th>
                                <td>
                                    <input name="initialValue" type="text" />
                                    <div th:text="${initialValueError}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6"><button type="button" id="lifePlanButton">＋ライフイベントを追加</button></th>
                            </tr>
                            <tr class="lifePlan">
                                <th><label>ライフイベント①</label></th>
                                <td><input name="lifeEvent1" class="margin-right" placeholder="例)結婚" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge1" class="margin-right" placeholder="28" type="text" />
                                    <div th:text="${lifeEventAge1Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds1" placeholder="100" type="text" />
                                    <div th:text="${requiredFunds1Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr class="lifePlan">
                                <th><label>ライフイベント②</label></th>
                                <td><input name="lifeEvent2" class="margin-right" placeholder="例)新車" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge2" class="margin-right" placeholder="30" type="text" />
                                    <div th:text="${lifeEventAge2Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds2" placeholder="200" type="text" />
                                    <div th:text="${requiredFunds2Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr class="lifePlan">
                                <th><label>ライフイベント③</label></th>
                                <td><input name="lifeEvent3" class="margin-right" placeholder="例)住宅頭金" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge3" class="margin-right" placeholder="40" type="text" />
                                    <div th:text="${lifeEventAge3Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds3" placeholder="800" type="text" />
                                    <div th:text="${requiredFunds3Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr class="lifePlan">
                                <th><label>ライフイベント④</label></th>
                                <td><input name="lifeEvent4" class="margin-right" placeholder="例)教育費" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge4" class="margin-right" placeholder="45" type="text" />
                                    <div th:text="${lifeEventAge4Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds4" placeholder="1000" type="text" />
                                    <div th:text="${requiredFunds4Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr class="lifePlan">
                                <th><label>ライフイベント⑤</label></th>
                                <td><input name="lifeEvent5" class="margin-right" placeholder="例)教育費" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge5" class="margin-right" placeholder="50" type="text" />
                                    <div th:text="${lifeEventAge5Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds5" placeholder="1000" type="text" />
                                    <div th:text="${requiredFunds5Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6"><button type="button" id="advancedSettingButton">＋詳細設定</button></th>
                            </tr>
                            <tr class="advancedSetting">
                                <th><label>年変化</label></th>
                                <td colspan="5">
                                    <span>つみたて月額を</span>
                                    <label class="annualChangePeriod">
                                        <select name="annualChangePeriod">
                                            <option></option>
                                            <option>6か月</option>
                                            <option>1年</option>
                                            <option>3年</option>
                                            <option>5年</option>
                                        </select>
                                    </label>
                                    <span>ごとに</span>
                                    <input name="annualChangeMoney" type="text" />
                                    <span>万円増やす</span>
                                    <div th:text="${annualChangeMoneyError}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr class="advancedSetting">
                                <th><label>シミュレーション<br>終了年齢</label></th>
                                <td>
                                    <input name="endingAge" type="text" />
                                    <div th:text="${endingAgeError}" class="validColor"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <input type="submit" class="button" value="開始" formaction="/add" />
                    </div>
                </form>

                <div class="paramList">
                     <table>
                          <thead>
                              <tr>
                                  <th class="hidden">ID</th>
                                  <th>期待収益率</th>
                                  <th>ボラティリティ</th>
                                  <th>シミュレーション開始年齢</th>
                                  <th>つみたて月額</th>
                                  <th>つみたて額初期値</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr th:each="params : ${params}">
                                  <td class="hidden" th:text="${params.id}"></td>
                                  <td th:text="${params.expectedRateOfReturn} + '%'"></td>
                                  <td th:text="${params.volatility} + '%'"></td>
                                  <td th:text="${params.startAge} + '歳'"></td>
                                  <td th:text="${params.monthlySavings} + '万'"></td>
                                  <td th:text="${params.initialValue} + '万'"></td>
                              </tr>
                          </tbody>
                         <thead>
                             <tr>
                                 <th colspan="5">ライフイベント</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge1 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge1} + '歳で' + ${params.lifeEventParams.lifeEvent1} + 'のため' + ${params.lifeEventParams.requiredFunds1} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge2 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge2} + '歳で' + ${params.lifeEventParams.lifeEvent2} + 'のため' + ${params.lifeEventParams.requiredFunds2} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge3 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge3} + '歳で' + ${params.lifeEventParams.lifeEvent3} + 'のため' + ${params.lifeEventParams.requiredFunds3} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge4 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge4} + '歳で' + ${params.lifeEventParams.lifeEvent4} + 'のため' + ${params.lifeEventParams.requiredFunds4} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge5 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge5} + '歳で' + ${params.lifeEventParams.lifeEvent5} + 'のため' + ${params.lifeEventParams.requiredFunds5} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <thead>
                             <tr>
                                 <th colspan="3">年変化</th>
                                 <th colspan="2">シミュレーション終了年齢</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="3" th:if="${params.advancedSetting.annualChangeMonth != 0}" th:text="'つみたて月額を' + ${params.advancedSetting.annualChangeMonth} + 'か月ごとに' + ${params.advancedSetting.annualChangeMoney} + '万円増やす'"></td>
                                 <td colspan="2" th:if="${params.advancedSetting.endingAge != 0}" th:text="${params.advancedSetting.endingAge} + '歳'"></td>
                             </tr>
                         </tbody>
                      </table>
                </div>

                <div  class="chartContainer">
                    <canvas id="myLineChart"></canvas>
                    <p>※当該評価は過去の一定期間の実績の分析結果を元に予測したものであり、 将来の運用成果等を保証したものではありません。</p>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script th:inline="javascript">
              var ctx = document.getElementById("myLineChart");
              var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: /*[[${monthCountList}]]*/"monthCountList",
                  datasets: [
                    {
                      label: '上位30%',
                      data: /*[[${top30Percent}]]*/"top30Percent",
                      borderColor: '#e14024',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '中央値',
                      data: /*[[${median}]]*/"median",
                      borderColor: '#f8b500',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
<!--                    {-->
<!--                      label: '予想平均',-->
<!--                      data: /*[[${expectedAverage}]]*/"expectedAverage",-->
<!--                      borderColor: '#EE82EE',-->
<!--                      backgroundColor: "rgba(0,0,0,0)"-->
<!--                    },-->
                    {
                      label: '下位30%',
                      data: /*[[${bottom30Percent}]]*/"bottom30Percent",
                      borderColor: '#66FF33',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '下位10%',
                      data: /*[[${bottom10Percent}]]*/"bottom10Percent",
                      borderColor: '#0099cc',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '運用なし',
                      data: /*[[${noOperation}]]*/"noOperation",
                      borderColor: '#666c67',
                      backgroundColor: "rgba(0,0,0,0)"
                    }
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: '資産額推移'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        suggestedMax: /*[[${suggestedMax}]]*/"suggestedMax",
                        suggestedMin: 0,
                        stepSize: /*[[${stepSize}]]*/"stepSize",
                        callback: function(value, index, values){
                          return  value +  '万円'
                        }
                      }
                    }]
                  },
                }
              });
        </script>
        <script type="text/javascript">
            $(function(){
                $("#dialog").dialog({
                autoOpen:false,
                width:900,
                height:600,
                modal:true,
                buttons:{
                    "選択":function(){
                        const productName = $('input:radio[name="productName"]:checked').val();
                        if (productName === 'sbi_allCountry') {
                            $("#expectedRateOfReturn").val(9.999);
                            $("#volatility").val(19.916);
                            $("#productName").html('ＳＢＩ・全世界株式<br>インデックスファンド');
                        } else if (productName === 'one_developedCountry') {
                            $("#expectedRateOfReturn").val(12.327);
                            $("#volatility").val(21.455);
                            $("#productName").html('たわらノーロード 先進国株式');
                        } else if (productName === 'one_allCountry') {
                            $("#expectedRateOfReturn").val(11.172);
                            $("#volatility").val(18.341);
                            $("#productName").html('たわらノーロード 全世界株式');
                        } else if (productName === 'daiwa_s&p500') {
                            $("#expectedRateOfReturn").val(12.360);
                            $("#volatility").val(21.350);
                            $("#productName").html('iFree S&P500インデックス');
                        } else if (productName === 'daiwa_emergingCountry') {
                            $("#expectedRateOfReturn").val(7.237);
                            $("#volatility").val(16.471);
                            $("#productName").html('iFree 新興国株式インデックス');
                        } else if (productName === 'nissei_nikkeiAverage') {
                            $("#expectedRateOfReturn").val(9.165);
                            $("#volatility").val(22.358);
                            $("#productName").html('＜購入・換金手数料なし＞ニッセイ<br>日経平均インデックスファンド');
                        } else if (productName === 'nissei_foreignStocks') {
                            $("#expectedRateOfReturn").val(11.027);
                            $("#volatility").val(19.450);
                            $("#productName").html('＜購入・換金手数料なし＞ニッセイ<br>外国株式インデックスファンド');
                        } else if (productName === 'nissei_nikkei225') {
                            $("#expectedRateOfReturn").val(8.777);
                            $("#volatility").val(23.106);
                            $("#productName").html('ニッセイ日経２２５<br>インデックスファンド');
                        } else if (productName === 'mitsui_japaneseStocks') {
                            $("#expectedRateOfReturn").val(6.979);
                            $("#volatility").val(21.092);
                            $("#productName").html('三井住友・ＤＣつみたてＮＩＳＡ・<br>日本株インデックスファンド');
                        } else if (productName === 'ufj_nikkeiAverage') {
                            $("#expectedRateOfReturn").val(9.178);
                            $("#volatility").val(22.388);
                            $("#productName").html('eMAXIS Slim 国内株式(日経平均)');
                        } else if (productName === 'ufj_topix') {
                            $("#expectedRateOfReturn").val(6.412);
                            $("#volatility").val(21.243);
                            $("#productName").html('eMAXIS Slim 国内株式(TOPIX)');
                        } else if (productName === 'ufj_s&p500') {
                            $("#expectedRateOfReturn").val(12.432);
                            $("#volatility").val(21.325);
                            $("#productName").html('eMAXIS Slim 米国株式(S&P500)');
                        } else if (productName === 'ufj_emergingCountryStocks') {
                            $("#expectedRateOfReturn").val(6.146);
                            $("#volatility").val(17.163);
                            $("#productName").html('eMAXIS Slim 新興国株式<br>インデックス');
                        } else if (productName === 'ufj_developedCountryStocks') {
                            $("#expectedRateOfReturn").val(11.056);
                            $("#volatility").val(19.472);
                            $("#productName").html('eMAXIS Slim 先進国株式<br>インデックス');
                        } else if (productName === 'ufj_allCountry') {
                            $("#expectedRateOfReturn").val(9.905);
                            $("#volatility").val(17.836);
                            $("#productName").html('eMAXIS Slim 全世界株式<br>(オール・カントリー)');
                        } else if (productName === 'ufj_allCountryExceptJapan') {
                            $("#expectedRateOfReturn").val(10.331);
                            $("#volatility").val(18.537);
                            $("#productName").html('eMAXIS Slim 全世界株式(除く日本)');
                        } else if (productName === 'ufj_balance') {
                            $("#expectedRateOfReturn").val(4.830);
                            $("#volatility").val(9.962);
                            $("#productName").html('eMAXIS Slim バランス<br>（8資産均等型）');
                        } else if (productName === 'rakuten_USA') {
                            $("#expectedRateOfReturn").val(11.905);
                            $("#volatility").val(21.448);
                            $("#productName").html('楽天・全米株式<br>インデックス・ファンド');
                        } else if (productName === 'sbi_globalSmallMid-capStocks') {
                            $("#expectedRateOfReturn").val(9.086);
                            $("#volatility").val(22.915);
                            $("#productName").html('EXE-i グローバル中小型株式<br>ファンド');
                        } else if (productName === 'capital_allCountry') {
                            $("#expectedRateOfReturn").val(12.961);
                            $("#volatility").val(18.889);
                            $("#productName").html('キャピタル世界株式ファンド<br>（ＤＣ年金つみたて専用）');
                        } else if (productName === 'daiwa_fang') {
                            $("#expectedRateOfReturn").val(21.404);
                            $("#volatility").val(30.861);
                            $("#productName").html('iFreeNEXT FANG+インデックス');
                        } else if (productName === 'daiwa_nasdaq100') {
                            $("#expectedRateOfReturn").val(16.320);
                            $("#volatility").val(24.880);
                            $("#productName").html('iFreeNEXT NASDAQ100<br>インデックス');
                        } else if (productName === 'daiwa_nydow') {
                            $("#expectedRateOfReturn").val(10.451);
                            $("#volatility").val(21.279);
                            $("#productName").html('iFree NYダウ・インデックス');
                        } else if (productName === 'norin_oobune') {
                            $("#expectedRateOfReturn").val(9.506);
                            $("#volatility").val(18.545);
                            $("#productName").html('農林中金＜パートナーズ＞<br>長期厳選投資 おおぶね');
                        } else {
                            $("#expectedRateOfReturn").val();
                            $("#volatility").val();
                            $("#productName").html('');
                        }

                        $("#dialog").dialog("close");
                    },
                    "Cancel":function(){
                        // ダイアログを非表示
                        $("#dialog").dialog("close");
                    }
                }
            });

            $("#productSelectionButton").click(function(){
                // ダイアログを表示
                $("#dialog").dialog("open");
            });

            // ライフプランの表示非表示
            $("#lifePlanButton").click(function(){
                $(".lifePlan").toggleClass("display");
            });

            // 詳細設定の表示非表示
            $("#advancedSettingButton").click(function(){
                $(".advancedSetting").toggleClass("display");
            });

            });
        </script>
    </body>
</html>