<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>新NISA資産形成シミュレーション</title>
        <link rel="stylesheet" th:href="@{/home2.css}">
    </head>
    <body>
        <div class="container">
            <div class="head">
                <h1>新NISA資産形成シミュレーション</h1>
            </div>
            <div class="contents">
                <form action="/add">
                    <div class="formContainer">
                        <table>
                            <tr>
                                <th><label>期待収益率(%)</label></th>
                                <td>
                                    <input name="expectedRateOfReturn" class="margin-right" type="text" />
                                    <div th:text="${expectedRateOfReturnError}" class="validColor"></div>
                                </td>
                                <th><label>ボラティリティ(%)</label></th>
                                <td>
                                    <input name="volatility" type="text" />
                                    <div th:text="${volatilityError}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>シミュレーション開始年齢</label></th>
                                <td>
                                    <input name="startAge" class="margin-right" type="text" />
                                    <div th:text="${startAgeError}" class="validColor"></div>
                                </td>
                                <th><label>つみたて月額(万)</label></th>
                                <td>
                                    <input name="monthlySavings" type="text" />
                                    <div th:text="${monthlySavingsError}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>つみたて額初期値(万)</label></th>
                                <td>
                                    <input name="initialValue" type="text" />
                                    <div th:text="${initialValueError}" class="validColor"></div>
                                </td>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <input type="submit" class="button" value="開始" />
                    </div>
                </form>

                <div class="paramList">
                     <table>
                          <thead>
                              <tr>
                                  <th class="hidden">ID</th>
                                  <th>期待収益率</th>
                                  <th>ボラティリティ</th>
                                  <th>シミュレーション開始年齢</th>
                                  <th>つみたて月額</th>
                                  <th>つみたて額初期値</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr th:each="params : ${params}">
                                  <td class="hidden" th:text="${params.id}"></td>
                                  <td th:text="${params.expectedRateOfReturn} + '%'"></td>
                                  <td th:text="${params.volatility} + '%'"></td>
                                  <td th:text="${params.startAge} + '歳'"></td>
                                  <td th:text="${params.monthlySavings} + '万'"></td>
                                  <td th:text="${params.initialValue} + '万'"></td>
                              </tr>
                          </tbody>
                      </table>
                </div>

                <div  class="chartContainer">
                    <canvas id="myLineChart"></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script th:inline="javascript">
              var ctx = document.getElementById("myLineChart");
              var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: /*[[${monthCountList}]]*/"monthCountList",
                  datasets: [
                    {
                      label: '上位5%',
                      data: /*[[${top5Percent}]]*/"top5Percent",
                      borderColor: '#0099cc',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '予想平均',
                      data: /*[[${expectedAverage}]]*/"expectedAverage",
                      borderColor: '#f8b500',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '下位5%',
                      data: /*[[${bottom5Percent}]]*/"bottom5Percent",
                      borderColor: '#e14024',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '運用なし',
                      data: /*[[${noOperation}]]*/"noOperation",
                      borderColor: '#666c67',
                      backgroundColor: "rgba(0,0,0,0)"
                    }
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: '資産額推移'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        suggestedMax: /*[[${suggestedMax}]]*/"suggestedMax",
                        suggestedMin: 0,
                        stepSize: /*[[${stepSize}]]*/"stepSize",
                        callback: function(value, index, values){
                          return  value +  '万円'
                        }
                      }
                    }]
                  },
                }
              });
        </script>
    </body>
</html>