<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>新NISA資産形成シミュレーション</title>
        <link rel="stylesheet" th:href="@{/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/home.css}">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <h1>新NISA資産形成シミュレーション</h1>
            </div>
            <div class="contents">
                <form action="?">
                    <div class="formContainer">
                        <table>
                            <tr>
                                <th><label>期待収益率(%)</label></th>
                                <td>
                                    <input name="expectedRateOfReturn" id="expectedRateOfReturn" class="margin-right" type="text" />
                                    <div th:text="${expectedRateOfReturnError}" class="validColor"></div>
                                </td>
                                <th><label>ボラティリティ(%)</label></th>
                                <td>
                                    <input name="volatility" id="volatility" type="text" />
                                    <div th:text="${volatilityError}" class="validColor"></div>
                                </td>
                                <th>
                                    <form name="testForm" id="testForm">
                                        <!-- ボタン表示 -->
                                        <button type="button" id="productSelectionButton">商品を選択</button>
                                        <!-- ダイアログ部分 -->
                                        <div id="dialog">
                                            <div th:include="dialog :: productSelection_body"></div>
                                        </div>
                                    </form>
                                </th>
                            </tr>
                            <tr>
                                <th><label>シミュレーション<br>開始年齢</label></th>
                                <td>
                                    <input name="startAge" class="margin-right" type="text" />
                                    <div th:text="${startAgeError}" class="validColor"></div>
                                </td>
                                <th><label>つみたて月額(万)</label></th>
                                <td>
                                    <input name="monthlySavings" type="text" />
                                    <div th:text="${monthlySavingsError}" class="validColor"></div>
                                </td>
                                <th><label>つみたて額初期値(万)</label></th>
                                <td>
                                    <input name="initialValue" type="text" />
                                    <div th:text="${initialValueError}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>ライフイベント①</label></th>
                                <td><input name="lifeEvent1" class="margin-right" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge1" class="margin-right" type="text" />
                                    <div th:text="${lifeEventAge1Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds1" type="text" />
                                    <div th:text="${requiredFunds1Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>ライフイベント②</label></th>
                                <td><input name="lifeEvent2" class="margin-right" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge2" class="margin-right" type="text" />
                                    <div th:text="${lifeEventAge2Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds2" type="text" />
                                    <div th:text="${requiredFunds2Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>ライフイベント③</label></th>
                                <td><input name="lifeEvent3" class="margin-right" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge3" class="margin-right" type="text" />
                                    <div th:text="${lifeEventAge3Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds3" type="text" />
                                    <div th:text="${requiredFunds3Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>ライフイベント④</label></th>
                                <td><input name="lifeEvent4" class="margin-right" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge4" class="margin-right" type="text" />
                                    <div th:text="${lifeEventAge4Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds4" type="text" />
                                    <div th:text="${requiredFunds4Error}" class="validColor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>ライフイベント⑤</label></th>
                                <td><input name="lifeEvent5" class="margin-right" type="text" /></td>
                                <th><label>年齢</label></th>
                                <td>
                                    <input name="lifeEventAge5" class="margin-right" type="text" />
                                    <div th:text="${lifeEventAge5Error}" class="validColor"></div>
                                </td>
                                <th><label>必要資金(万)</label></th>
                                <td>
                                    <input name="requiredFunds5" type="text" />
                                    <div th:text="${requiredFunds5Error}" class="validColor"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <input type="submit" class="button" value="開始" formaction="/add" />
                    </div>
                </form>

                <div class="paramList">
                     <table>
                          <thead>
                              <tr>
                                  <th class="hidden">ID</th>
                                  <th>期待収益率</th>
                                  <th>ボラティリティ</th>
                                  <th>シミュレーション開始年齢</th>
                                  <th>つみたて月額</th>
                                  <th>つみたて額初期値</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr th:each="params : ${params}">
                                  <td class="hidden" th:text="${params.id}"></td>
                                  <td th:text="${params.expectedRateOfReturn} + '%'"></td>
                                  <td th:text="${params.volatility} + '%'"></td>
                                  <td th:text="${params.startAge} + '歳'"></td>
                                  <td th:text="${params.monthlySavings} + '万'"></td>
                                  <td th:text="${params.initialValue} + '万'"></td>
                              </tr>
                          </tbody>
                         <thead>
                             <tr>
                                 <th colspan="5">ライフイベント</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge1 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge1} + '歳で' + ${params.lifeEventParams.lifeEvent1} + 'のため' + ${params.lifeEventParams.requiredFunds1} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                             <tr th:each="params : ${params}">
                                 <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge2 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge2} + '歳で' + ${params.lifeEventParams.lifeEvent2} + 'のため' + ${params.lifeEventParams.requiredFunds2} + '万円使用'"></td>
                             </tr>
                         </tbody>
                         <tbody>
                         <tr th:each="params : ${params}">
                             <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge3 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge3} + '歳で' + ${params.lifeEventParams.lifeEvent3} + 'のため' + ${params.lifeEventParams.requiredFunds3} + '万円使用'"></td>
                         </tr>
                         </tbody>
                         <tbody>
                         <tr th:each="params : ${params}">
                             <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge4 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge4} + '歳で' + ${params.lifeEventParams.lifeEvent4} + 'のため' + ${params.lifeEventParams.requiredFunds4} + '万円使用'"></td>
                         </tr>
                         </tbody>
                         <tbody>
                         <tr th:each="params : ${params}">
                             <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge5 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge5} + '歳で' + ${params.lifeEventParams.lifeEvent5} + 'のため' + ${params.lifeEventParams.requiredFunds5} + '万円使用'"></td>
                         </tr>
                         </tbody>
                      </table>
                </div>

                <div  class="chartContainer">
                    <canvas id="myLineChart"></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script th:inline="javascript">
              var ctx = document.getElementById("myLineChart");
              var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: /*[[${monthCountList}]]*/"monthCountList",
                  datasets: [
                    {
                      label: '上位5%',
                      data: /*[[${top5Percent}]]*/"top5Percent",
                      borderColor: '#0099cc',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '予想平均',
                      data: /*[[${expectedAverage}]]*/"expectedAverage",
                      borderColor: '#f8b500',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '下位5%',
                      data: /*[[${bottom5Percent}]]*/"bottom5Percent",
                      borderColor: '#e14024',
                      backgroundColor: "rgba(0,0,0,0)"
                    },
                    {
                      label: '運用なし',
                      data: /*[[${noOperation}]]*/"noOperation",
                      borderColor: '#666c67',
                      backgroundColor: "rgba(0,0,0,0)"
                    }
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: '資産額推移'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        suggestedMax: /*[[${suggestedMax}]]*/"suggestedMax",
                        suggestedMin: 0,
                        stepSize: /*[[${stepSize}]]*/"stepSize",
                        callback: function(value, index, values){
                          return  value +  '万円'
                        }
                      }
                    }]
                  },
                }
              });
        </script>
        <script type="text/javascript">
            $(function(){
                $("#dialog").dialog({
                autoOpen:false,
                width:900,
                height:600,
                modal:true,
                buttons:{
                    "選択":function(){
                        const productName = $('input:radio[name="productName"]:checked').val();
                        if (productName === 'sbi_allCountry') {
                            $("#expectedRateOfReturn").val(9.999);
                            $("#volatility").val(19.916);
                        } else if (productName === 'nissei_nikkeiAverage') {
                            $("#expectedRateOfReturn").val(9.165);
                            $("#volatility").val(22.358);
                        } else if (productName === 'nissei_foreignStocks') {
                            $("#expectedRateOfReturn").val(11.027);
                            $("#volatility").val(19.450);
                        } else if (productName === 'nissei_nikkei225') {
                            $("#expectedRateOfReturn").val(8.777);
                            $("#volatility").val(23.106);
                        } else if (productName === 'mitsui_japaneseStocks') {
                            $("#expectedRateOfReturn").val(6.979);
                            $("#volatility").val(21.092);
                        } else if (productName === 'ufj_s&p500') {
                            $("#expectedRateOfReturn").val(12.432);
                            $("#volatility").val(21.325);
                        } else if (productName === 'ufj_emergingCountryStocks') {
                            $("#expectedRateOfReturn").val(6.146);
                            $("#volatility").val(17.163);
                        } else if (productName === 'ufj_developedCountryStocks') {
                            $("#expectedRateOfReturn").val(11.056);
                            $("#volatility").val(19.472);
                        } else if (productName === 'ufj_allCountryExceptJapan') {
                            $("#expectedRateOfReturn").val(10.331);
                            $("#volatility").val(18.537);
                        } else if (productName === 'sbi_globalSmallMid-capStocks') {
                            $("#expectedRateOfReturn").val(9.086);
                            $("#volatility").val(22.915);
                        } else if (productName === 'capital_allCountry') {
                            $("#expectedRateOfReturn").val(12.961);
                            $("#volatility").val(18.889);
                        } else if (productName === 'iFree_nydow') {
                            $("#expectedRateOfReturn").val(10.451);
                            $("#volatility").val(21.279);
                        } else if (productName === 'norin_oobune') {
                            $("#expectedRateOfReturn").val(9.506);
                            $("#volatility").val(18.545);
                        } else {
                            $("#expectedRateOfReturn").val();
                            $("#volatility").val();
                        }

                        $("#dialog").dialog("close");
                    },
                    "Cancel":function(){
                        // ダイアログを非表示
                        $("#dialog").dialog("close");
                    }
                }
            });

            $("#productSelectionButton").click(function(){
                // ダイアログを表示
                $("#dialog").dialog("open");
                });
            });
        </script>
    </body>
</html>